<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion del item</th>
      <th>Precio del item</th>
      <th>Total de items</th>
      <th>Direccion de vendedor</th>
      <th>Vendedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.d_item %></td>
        <td><%= producto.precio_item %></td>
        <td><%= producto.total_items %></td>
        <td><%= producto.direccion_ven %></td>
        <td><%= producto.vendedor %></td>
        <td><%= link_to 'Mostrar', producto %></td>
        <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir nuevo producto', new_producto_path %>
